/*  Douglas Aquilino       February 11, 2017    */
/*  RCB - "Crystals Collector" Homework #4      */
/*                style.js                      */



/*=================== NOTES =======================
			
					WORK ON 
					BACKGROUND
					COLORS - TRANSPARENT
					HEADING
					FONTS
					FONT-SIZES
*/

/*********************** general styling ******************/
body{
	background-image: url("../images/bg5.jpg");
}

header h1 {
	font-size: 5em;
	font-family: ;
	color: silver;
    text-shadow: 2px 2px 40px black;
}

header{
	
	margin-bottom:50px;
}

/* code to set panel backgrounds transparent*/
.panel-transparent {
        background: none;
    }

/* Needed so center-block works on columns*/
.center-block{
	float: none;
}

.panel-info{
	border-radius: 25px;
}

.panel-info > .panel-heading{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color: silver;
	color: black;	
}

.panel{
min-height: 153px;
box-shadow: 2px 2px 40px black;

}

/*********************** instructions panel ******************/
#instructions-body{
	padding: 30px;
	font-weight: 900;	
}

#buttons{
	margin-bottom: 50px;
}

/************** Wins, Score to Match, Losses panels ***********/

div.panel-heading{font-weight: 900;}

div.panel-heading.wins{color: blue;}

div.panel-heading.losses{color: red;}

div.panel-heading.toMatch{font-size: 1.5em;}


/*********************** gem images ******************/
img.img-responsive{
	max-width: 200px;
	margin: 0 auto;
}

#gem1,#gem2,#gem3,#gem4{

	padding: 0;
}
.gem:hover{
	    transform: translateY(-5px);	 
}

/*********************** current score panel ******************/
#current-score{

	margin-bottom: 60px;
}
div.panel-heading.score{font-size: 1.5em;}

/*
	WIN LOSE MESSEGE TESTING

#winMessege, #loseMessege{
	font-size: 10vw;
	font-weight: 900;
	border:1px solid red; /*for testing
	position: absolute;
	bottom: 0px;
	color:blue;
	/*visibility: hidden;

}

#loseMessege{
	bottom: 625px;
	visibility: visible;
	/*visibility: hidden;
}*/